.gallery-section {
  background-color: #f3f4f6;
  padding: 40px 0;
}

.gallery-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.gallery-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.slider-section {
  margin-top: 40px;
}

.slider-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.slider-item {
  padding: 0 10px;
}

.slick-slide {
  transition: transform 0.3s ease;
}

.slick-slide:hover {
  transform: scale(1.05);
}

.slider-image {
  width: 97%;
  height: 428px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.slider-image:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
